input {
  padding: 15px 20px;
}
.signIn {
  display: flex;
  justify-content: flex-end;
}
.forms {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: flex-end;
}

.forms input:focus {
  border: 2px solid #4361ee;
}

.signInContainer {
  width: fit-content;
  background-color: white;
  border-radius: 5px;
  padding: 15px 20px;
  box-shadow: 2px 0px 20px black;
}
