.accountContent {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  color: white;
  justify-items: center;
  align-items: center;
}
.accountContent h1 {
  text-transform: uppercase;
}

.account {
  display: flex;
  background-color: white;
  color: black;
  border-radius: 5px;
  flex-wrap: wrap;
}
.leftPanel {
  /* flex: 0.3; */
  display: flex;
  flex-direction: column;
}
.leftPanelItem {
  padding: 15px 20px;
  margin: 0;
  cursor: pointer;
}
.leftPanelItem:hover {
  background-color: grey;
}

.rightPanel {
  color: white;
  background-color: #353535;
  border-radius: 0 3px 3px 0;
}
.rightPanel div {
  width: 100%;
  padding: 15px 0px;
  display: block;
  padding: 15px 20px;
}

.rightPanel div:nth-child(2n) {
  background-color: #302f2f;
}
