.changePassword form {
	display: flex;
	align-self: center;
	padding: 15px 20px;
	flex-direction: column;
	align-items: center;
}
.changePassword {
	display: flex;
	align-items: center;
	flex-direction: column;
}
