.remindPassword form {
	display: flex;
	align-self: center;
	padding: 15px 20px;
	flex-direction: column;
	align-items: center;
}
.remindPassword {
	color: white;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
