.app {
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  text-align: center;
}
.confirmAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

input {
  border-radius: 5px;
  border: 2px solid grey;
  outline: none;
  margin: 2px;
  transition: 0.5s;
  font-size: 18px;
  padding: 15px 20px;
}

input:focus {
  border: 2px solid #4361ee;
}

.homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.streamingOffers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.square {
  display: flex;
  width: 300px;
  height: 200px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  margin: 15px;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: 0px 0px 20px black;
}

.title {
  font-size: 75px;
  color: white;
  transition: 1s;
}
.header {
  height: 52px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-spacing: 15px;
}

a {
  text-decoration: none;
}

.createPartyContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0);
  box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.65); /* dark around it */
  width: 300px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid white;
  padding: 15px 0px;
  border-radius: 5px;
}

@media (max-width: 685px) {
  .title {
    /* width: 100%; */
    font-size: 49px;
    /* transform: scale(0.7); */
  }
  .square {
    /* transform: scale(0.7); */
    height: 140px;
    width: 210px;
    flex-wrap: nowrap;
    font-size: 39px;
  }
}

@media (686px <= width <= 900px) {
  .title {
    font-size: 59px;
  }
}

@media (min-width: 520px) {
  .content {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 520px) {
  .header {
    justify-content: space-between;
  }
}
